* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    gap: 10px;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: Arial;
  margin: 0px;
}

nav div {
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
}

nav a:hover{
    background: rgb(43, 43, 43);
    border-radius: 5px;
}

body {
    background-image: url('Media2.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.616);
    background-blend-mode: lighten;
}

.stor {
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

.middel-plus {
    font-size: 20px;
    text-align: center;
    font-family: Arial;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

.middel {
    font-size: 16px;
    text-align: center;
    font-family: Arial;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.liten {
    font-size: 10px;
    text-align: center;
    font-family: Arial;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.bottom {
    font-size: 18px;
    text-align: center;
    font-family: Arial;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.midten {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.mork {
    background-color: #00000042;
    color: white;
}

.knapp {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

nav {
    background-color: rgba(255, 255, 255, 0.733);
}

nav a, h1 {
    color: rgb(0, 0, 0);
}

body.mork nav {
    background-color: rgb(33, 33, 33);
}

body.mork nav a, body.mork h1 {
    color: rgb(255, 255, 255);
}